
h1 {
    color: rgb(71, 74, 27);
}

#pepe {
    display: flex;
    justify-content: center;
}

#pepe img {
    width: 25%;
}

#jennNpeech {
    
}

h1 {
    display: flex;
    flex-direction:row;
    justify-content: space-between
}
nav {
    display: flex;
    flex-direction: row;
    /* margin: auto; */
    justify-content:;
    
}

nav a{
   margin: 0 20px 0 20px;
}

#u-stinky {
    display: flex;
    justify-content: space-between;
    margin-top: 1000px;
    font-size: 25px;
}

#u-stinky {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }